html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
  text-align: center;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
}

footer {
  background-color: #ffe500;
  padding: .75em;
}

h1 {
  font-size: 3em;
  display: inline-block;
  margin: 0;
  font-family: "Sigmar One", serif;
  color: #b20953;
}

h2 {
  font-size: 1.875rem;
  display: inline-block;
  font-family: "Sigmar One", serif;
  color: #b20953;
}

.buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  display: inline-block;
  margin-bottom: .3em;
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

.buttons a {
  font-size: 1.125rem;
  display: inline-block;
  border-radius: 4px;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
}

.buttons .current {
  background-color: #b20953;
}

.buttons a:hover {
  background-color: #cc1465;
}

img {
  display: block;
  width: 100%;
  padding: 0 .75em .75em;
  margin: 0;
}
